.contactsBlock {
    min-height: 100vh;
    background-color: #8a95ff;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactsContainer a {
    background-color: #fff2f6;
    text-decoration: none;
}

.title {
    background-color: #fff2f6;
}

.formBlock {
    border: 1px solid red;
    width: 280px;
    display: flex;
    flex-direction: column;
}