.skillsBlock {
    min-height: 100vh;
    background-color: #b5ffb5;
  }

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title {
    background-color: #ff8d8b;
}

.skills {
    width: 100%;
    background-color: #ffeea0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

